html,
body,
#__next {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Rajdhani', sans-serif;
  font-size: large;
  height: 100%;
  font-display: swap;
}

body.noScroll {
  overflow: hidden;
}

.body-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex-grow: 1;
  background-color: #333333;
}

main{
  background-color: #333333;
}