/* RESET BÁSICO */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;          /* 👈 corta cualquier desborde horizontal */
  font-family: 'Rajdhani', sans-serif;
  font-size: large;
  font-display: swap;
}

/* Next root */
#__next {
  width: 100%;
  min-height: 100vh;
}

/* Cuando el menú móvil está abierto */
body.noScroll {
  overflow: hidden;
}

/* Layout general */

.body-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex-grow: 1;
  background-color: #333333;
}

main {
  background-color: #333333;
}
